* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: white;
  background-color: rgb(202, 29, 136);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 8px solid white;
  width: 900px;
  display: flex;
  justify-content: space-between; 
}

.links {
  border: 1px solid white;
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #e0ffff;
  background-color: darksalmon;
  padding: 10px 0;
  display: flex;
  justify-content: center;

}


.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  
}

.footer {
  display: flex;
  justify-content: baseline;
}

.footer-item {
  border: 1px solid #fff;
  background-color: salmon;
  height: 200px;
  flex: 1;
}